.HotelSearch{
    width: 100%;
    height: 100%;
}

.SearchForm {
    padding-top: 30px;
    margin-left:4%;
}

.Input1 {
    width:90.5%;
    height: 45px;
    font: inherit;
    padding-left: 10px;
    margin: 10px 5px;
    font-size: 15px;
    border: 1px solid #eee;
    border-radius: 2px;
}
.SearchForm label{
    margin: 10px 5px;
    padding-bottom: 10px;
}
.Guest {
   width: 170px;
   height: 50px;
   font: inherit;
   padding-left: 10px;
   margin: 10px 5px;
   font-size: 15px;
   border: 1px solid #eee;
   border-radius: 2px;
}

.GuestCount{
    background: green;
}
.Date {
    width: 42.9%;
    height: 47px;
    font: inherit;
    padding-left: 10px;
    margin: 10px 5px;
    font-size: 15px;
    border: 1px solid #eee;
    border-radius: 2px;
}
.SearchButtonContainer{
    width: 40%;
    height: 50px;
    margin-top: 30px;
    float: right;
}
.SearchForm p{
    height: 36px;
    width: 91.7%;
    font: inherit;
    border: 1px solid #eee;
    background: white;
    cursor: pointer;
    margin-left: 1.1%;
    padding-top: 14px;
    padding-left: 7px;
    
}
.SearchForm a {
    padding: 12px 50px;
    background: rgb(229, 90, 26);
    color: white;
    margin: 0 5px;
    font-weight: bold;
    border-radius: 3px;
    text-decoration: none;
}
.SearchForm a:hover{
     background: rgb(184, 64, 8);
}
.DropDown{
    margin:0px 10px;
    float: right;
    color: rgb(36, 218, 224);
}
.Customizing{
    width: 100%;
    height: 40px;
    margin: 10px 0;
}
.Subject{
    width: 40%;
    height: 100%;
    float: left;
    margin-left: 10px;
}
.Subject h5{
    margin-left: 10px;
    padding: 0;
    font-size: 15px;
    color: rgb(94, 90, 90);
}
.Subject p{
    margin:0;
    padding: 0px;
    font-size: 13px;
    margin-left: 10px;
}
.Value{
    width: 25%;
    height: 100%;
    float: right;
    display: block;
    margin-right: 20px;
}
.AddButton{
    float: Right;
    border: none;
    background: white;
    font-size: 20px;
    color: rgb(36, 218, 224);
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(36, 218, 224);
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.MinusButton{
    float: left;
    border: none;
    background: white;
    font-size: 20px;
    color: rgb(36, 218, 224);
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(36, 218, 224);
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.AddButton:hover, .MinusButton:hover{
    background: rgb(204, 242, 243);
}

.Result{
    margin-left: 13px;
    font-weight: bold;
    font-size: 19px;
    color: rgb(91, 95, 95);
    font-weight: 500;
}

.Control{
    width: 93%;
    height: 30px;
    margin-left: 3.5%;
}
.ClearButton{
    float: left;
    border: none;
    color: orangered;
    cursor: pointer;
    background: white;
    font-weight: bold;
    outline: none;
}
.SaveButton{
    float: right;
    border: none;
    color: rgb(36, 218, 224);
    cursor: pointer;
    background: white;
    font-weight: bold;
    outline: none;
}
.ClearButton:hover, .SaveButton:hover{
    text-decoration: underline;
}