.Amenites {
    width: 300px;
    height: 200px;
    background: white;
    position: absolute;
    margin-left: 6%;
    border: 1px solid #eee;
    box-shadow: 2px 2px 18px rgb(214, 212, 212);
    border-radius: 5px;
}