.SearchBox{
    width: 470px;
    height: 450px;
    background: white;
    margin-top: 100px;
    margin-left: 1%;
    border-radius: 3px;
    border: 1px solid #eee;
   box-shadow: 5px 10px 18px rgb(243, 239, 239);
}

