.FoundHotel{
    width: 97%;
    margin-left: 1%;
    margin-top: 100px;
}
.SearchBox{
    width: 100%;
    height: 120px;
    margin: 10px 0px;
}
.HotelSearch{
    width: 80%;
    float: left;
    height: 100%;
}
.HotelFilter{
    width: 40%;
    height: 50px;
    margin-left: 60%;
}
.HotelsContainer{
    width: 100%;
    height: 1500px;
}
.MapFilter{
    width: 31%;
    height: 700px;
    float: left;
}
.Hotels{
    width: 67%;
    float: right;
}
.Map{
    width: 100%;
    height: 270px;
    background: white;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 6px 0px;
}
.Filter{
    width: 100%;
    height: 600px;
    background: white;
    border: 1px solid #eee;
    margin: 6px 0px;
}
