.FoundFlight{
    width: 100%;
}
.FlightSearch{
    width: 100%;
}

.FlightMain{
    width: 100%;
    height: 1900px;
    margin-top: 20px;
}
.FilterArea{
    width: 28%;
    height: 800px;
    float: left;
    border: 1px solid #eee;
}
.FlightAll{
    width: 70%;
    float: right;
}
.FlightSort{
    width: 97.5%;
    height: 100px;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 3px;
}
.FlightNone{
    display: none;
}
.SortHeader{
    width: 60%;
    height: 100%;
    float: left;
}
.Span{
    color: rgb(144, 150, 144);
    font-size: 19px;
    margin: 5px 0px;
}
.SortHeader h2{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    color: rgb(82, 82, 78);
}
.SortHeader p {
    margin: 0;
    padding: 0;
    font-size: 13px;
}
.SortHeader h5{
    margin: 5px 0;
    padding: 0;
    color: #0E5682;
}

.FlightHighLight{
    width: 100%;
    height: 50px;
}
.FlightHighLight p{
    font-weight: 500;
}
.FlightHighLight span{
    font-weight: 400;
   padding: 0 5px;
}
.DateDetails{
    width: 50%;
    height: 100%;
    float: left;
}
.TravellerDetails{
    width: 50%;
    height: 100%;
    float: right;
}
.SortList{
    width: 20%;
    float: right;
    margin-top: 33px;
}
.SortList p{
  padding:9px 20px;
  background: white;
  cursor: pointer;
  border: 1px solid #eee;
  outline: none;
  font-size: 14px;
  border-radius: 20px;
  font-weight: 500;
  color: #0E5682;
}
.SortList p:hover{
     box-shadow: 2px 2px 18px rgb(214, 212, 212);
}
.SortList span{
    float: right;
    color: #4368DC;
}
.SortFilter{
    width: 250px;
    height: 210px;
    border: 1px solid #eee;
    background: white;
    position: absolute;
    margin-left: 30.8%;
    padding-top: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 18px rgb(214, 212, 212);
    text-align: center;
}
.SortFilter button{
    margin: 5px;
    width: 70%;
    height: 40px;
    font: inherit;
    cursor: pointer;
    background: white;
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 0px 5px;
    outline: none;
    color: #0E5682;
    font-size: 14px;
    font-weight: 500;
}

.SortFilter button:hover{
    box-shadow: 2px 2px 18px rgb(214, 212, 212);
}
.FligtsContainer{
    width: 100%;
}
.MoreFlights{
    width: 100%;
    height: 40px;
    border: 1px solid #eee;
    border-radius: 18px;
    cursor: pointer;
}
.MoreFlights button{
    border: none;
    background: white;
    cursor: pointer;
    margin: 12px 5px;
    font-weight: bold;
    outline: none;
}
.MoreFlights span{
    margin-right: 20px;
    margin-left: 10px;
}