.Hotel{
    width: 100%;
    height: 270px;
    margin: 7px 0;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(235, 232, 232);
}
.HotelImage{
    width: 38%;
    height: 100%;
    float: left;
}
.HotelImage img{
    width: 100%;
    height: 100%;
}
.HotelDetails{
    width: 60%;
    height: 100%;
    float: right;
}
.HotelDetails h4{
    margin: 0;
    padding: 0;
}
.HotelDetails p{
    margin: 0;
    padding: 0;
}
.Details{
    width: 80%;
    height: 50%;
    margin-top: 20px;
    float: left;
}
.Details h4{
     font-size: 22px;
     font-weight: 400;
 }
 .Location{
     color: rgb(105, 102, 105);
 }
 .Location span{
   margin-right: 5px;
   color: rgb(146, 43, 5);
 }
 .Rating{
     font-size: 14px;
       color: rgb(105, 102, 105);
 }
 
 .Rating span{
    margin-left: 5px;
    color: orange;
 }
 .Type {
     font-size: 14px;
     color: rgb(105, 102, 105);
 }
.Description{
    margin-top: 25px;
    font-size: 14px;
    color: rgb(105, 102, 105);
}

.Price{
    width: 12%;
    height: 50%;
    float: right;
    margin-top: 20px;
    font-size: 20px;
    color: green;
}
.HotelDetails button{
    float: right;
    margin-top: 30px;
    padding: 10px 20px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    background: #4368DC;
    color: white;
    border-radius: 17px;
    outline: none;
}
.HotelDetails button:hover{
    background: #507CFF;
}