.Subscription{
    width:100%;
    text-align: center;
    padding-top: 50px;
    background:#F6F5F5;
    height: 200px;
    margin-top: 100px;
}
.Subscription p{
    padding: 10px;
    margin: 0;
}
.Subscription input{
    width: 400px;
    height: 42px;
    margin: 5px;
    padding-left: 13px;
    border: 2px solid rgb(238, 232, 232);
    font: inherit;
    border-radius: 3px;
}
.Subscription button{
    padding: 12px 80px;
    border: none;
    cursor: pointer;
    background: rgb(229, 90, 26);
    color: white;
    border-radius: 2px;
    font: inherit;
}