.Toolbar {
    height: 65px;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
    border-bottom: 1px solid #eee;
}

.Toolbar nav{
    height: 100%;
}

.Logo{
    margin-left: 50px;
    height: 60%;
}

@media(max-width:499px){
    .DekstopOnly{
        display: none;
    }
}