.SearchLayout{
    width: 100%;
    height: 100%;
}
.SearchNav{
    width: 97.1%;
    height: 60px;
    padding-left: 13px;
}
.Nav{
    padding-top: 20px;
    margin-left: 1.2%;
}
.SearchNav a{
    background: #4368DC;
    padding: 10px 30px;
    margin: 0px 3px;
    font: inherit;
    text-decoration: none;
    border-radius: 2px;
    color: white;
}
.SearchNav a:hover{
    background: #507CFF;
}