.SignContainer{
   width: 80%;
   height: 90%;
   margin-left: 10%;
   padding-top: 50px;
}
.SigninForm{
    display: block;
  
}
.SignContainer h4{
    text-align: center;
    color: green;
}
.SigninForm input{
   width: 97%;
   display: block;
   height: 45px;
   margin: 15px 0px;
   font: inherit;
   font-size: 14px;
   padding-left: 10px;
   border: 1px solid #eee;
   outline: none;
   border-radius: 2px;
   background: white;
}


.SubmitButton{
   width: 100%;
   height: 45px;
   cursor: pointer;
   background: rgb(238,76,38);
   border: none;
   border-radius: 3px;
   color:white;
   font-weight: bold; 
   outline: none;
   margin-right: 103px;
}
.SubmitButton:hover{
   background:rgb(205,55,16);
}

.SigninForm a{
   margin-top: 0px;
   color: green;
   font-size: 13px;
}
.SigninForm a:hover{
   color: rgb(205,55,16);
}

.SigninForm p{
   text-align: center;
   padding:10px;
   font-style: italic;
   color: gray;
   font-weight: bold;
   font-size: 12px;

}
.Reference{
   width: 100%;
   height: 30px;
   margin-top: 10px;
}
.Forget{
   width: 40%;
   float: left;
   margin-left: 5px;
}
.Reference p{
   margin: 0;
   float: right;
   padding: 0;
   font-style: italic;
   color: gray;
   font-size: 14px;
   font-weight: 400;
}
.Icons{
   width: 100%;
   height: 100px;
   text-align: center;
   border-top: 1px solid rgb(179, 175, 175);
   background: rgb(0, 195, 255);
}
.Icons button{
    height: 50px;
    width: 50px;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    
}
.Icons .Facebook{
   color: rgb(59, 89, 152);
}
.Icons .Instargram{
   color: rgb(217, 49, 117);
}
.Icons .Google{
   color: rgb(234, 67,53);
}

@media(max-width: 600px){
   .Main{
      height: 100vh;
      width: 100%;
      margin-left: 0;
      padding-top: 10px;
   }
   .SigninForm{
      display: block;
      width: 100%;
    
  }
  .Main h4{
   margin-right: 0;
}
  .SigninForm input{
     width: 95%;
     margin-left: 3px;
  }
  .SigninForm button{
     width: 98%;
     margin-left: 3px;
 }
 .SigninForm p{
    width: 100%;
    margin-right: 0;
}
.Reference p{
   margin: 0;
   float: right;
   border: none;
   text-align: center;
   padding: 0;
   font-style: italic;
   color: gray;
   width: 48%;
   font-size: 14px;
   font-weight: 500;
}
 .Icons{
   text-align: center;
   margin-right: 0;
 
}
.Icons button{
   font-size: 30px;
   width: 40px;
   height: 40px;
}
}