.Reset{
    height: 390px;
    width: 80%;
    padding-top: 100px;
    margin-left: 10%;
 }
 .ResetForm{
     display: block;
   
 }
 .Reset h1{
     color: green;
 }
 .Reset input{
    width: 90%;
    display: block;
    height: 45px;
    margin: 15px 0px;
    font: inherit;
    font-size: 14px;
    padding-left: 15px;
    border: 1px solid #eee;
    outline: none;
    border-radius: 2px;
    color: rgb(100, 105, 100);
 }
 .Links{
     margin-top: 50px;
 }
 .SendLink{
    padding: 11px 35px;
    margin-right: 10px;
    height: 40px;
    cursor: pointer;
    background: #1A72E5;
    border: none;
    border-radius: 3px;
    color:white;
    font-weight: bold; 
    outline: none;
 }
 .CancelLink {
     padding: 10px 35px;
     margin-right: 10px;
     height: 40px;
     cursor: pointer;
     border: 1px solid rgb(238, 76, 38);
     border-radius: 3px;
     color: rgb(71, 75, 71);
     font-weight: bold;
     outline: none;
     text-decoration: none;
 }
 .CancelLink:hover{
    border: 1px solid rgb(16, 205, 16);
    color: green;
 }

@media(max-width: 600px){
    .Reset{
        width: 100%;
        margin-left: 3px;
        padding-top: 10px;
    }
    .Reset input{
        width: 95%;
    }
    .Reset button{
        width: 98%;
    }
}
 