.Flight{
    width: 100%;
    margin: 14px 0;
    border-radius: 5px;
    border: 1px solid #eee;
    cursor: pointer;
    box-shadow: 2px 2px 18px rgb(214, 212, 212);
}

.FlightHeader {
    width: 100%;
    height: 50px;
    background: #4368DC;
    border-radius: 3px;
}
.FlightContainer {
    width: 100%;
    height: 230px;

}
.FlightDetails{
    width: 65%;
    height: 95%;
    float: left;
    border-right: 1px solid #eee;
    padding-top: 7px;
    padding-left: 10px;
}
.FlightDetails h4{
    margin: 5px 0;
    padding: 0;
    color: #0E5682;
}
.FlightDetails p{
    margin: 0;
    padding: 0;
}


.FromDetails{
    width: 46%;
    height: 100%;
    float: left;
    padding: 0 10px;
}
.FromAbout {
    width: 85%;
    height: 50px;
    margin-top: 5px;
    margin-left: 15px;
    padding-left: 10px;
    padding-top: 5px;
    background: #F6F5F5;
    border-radius: 5px;
}

.FromAbout h4 {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.FromAbout p {
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.ToAbout {
   width: 85%;
   height: 50px;
   margin-top: 5px;
   margin-left: 15px;
   padding-left: 10px;
   padding-top: 5px;
   background: #F6F5F5;
   border-radius: 5px;
}

.ToAbout h4 {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.ToAbout p {
    padding: 0;
    margin: 0;
    font-size: 13px;
}
.TravelTime{
    width: 70%;
    padding:5px 10px;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 10px;
}

.TravelTime p{
    padding: 0;
    color: #0E5682;
    font-weight: 500;
}
.TravelTime span{
    font-weight: 400;
}
.FlightAbout{
    width: 100%;
    height: 100%;
}
.ReturnDetails{
    width: 50%;
    height: 100%;
    float: right;
}
.ReturnDetails p{
    margin-top: 15px;
    font-size: 14px;
}
.FlightPrice {
    text-align: center;
    width: 30%;
    height: 140px;
    float: right;
    margin-top: 65px;
}
.FlightPrice h3{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #E55A1A;
}
.FlightPrice p{
    padding: 0;
    margin: 0;
    font-size: 13px;
    margin-bottom: 20px;
}
.FlightPrice a{
    padding: 8px 60px;
    border: none;
    margin: 10px;
    cursor: pointer;
    outline: none;
    background: #4368DC;
    font: inherit;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
.FlightPrice a:hover {
     background: #507CFF;
}

.LoadDetails {
    width: 100%;
    height: 28px;
    text-align: center;
}
.Details{
    width: 69%;
    height: 300px;
    display: none;
    background: yellow;
}
.LoadDetails button{
    font-size: 25px;
    font: inherit;
    cursor: pointer;
    color: rgb(24, 58, 211);
    border: none;
    border-radius: 100%;
    padding: 5.5px 9px;
    border: 1px solid #ccc;
    background: white;
    outline: none;
    margin-top: 7px;
}
.LoadDetails button:hover{
     border: 1px solid rgb(24, 58, 211);
}