.Filter {
    width: 100%;
    height: 100%;
}

.Filter button {
    padding: 10px 30px;
    margin: 5px;
    border-radius: 17px;
    cursor: pointer;
    border: 1.3px solid #eee;
    background: white;
    font-weight: bold;
    color:rgb(69, 75, 75);
    outline: none;
}

.Filter span{
    color: #4368DC;
    margin-left: 10px;
    font-size: 13px;
}

.Filter button:hover {
  box-shadow: 2px 2px 18px rgb(214, 212, 212);
}
