.Logo {
    height: 80px;
    padding-bottom: 10px;
    margin-left: 37px;
    width: 210px;
    display: flex;
}

.Logo img {
    height: 60px;
    width: 200px;

}

@media(max-width: 500px) {
    .Logo {
        margin-left: 0;
        padding-left: 5px;
    }
}