.Package {
    height: 340px;
    width: 31.5%;
    box-sizing: border-box;
    cursor: pointer;
    margin: 9px 6px;
    color: rgb(41, 48, 59);
    border: 1px solid #eee;
    border-radius: 4px;
    background: white;
    color: rgb(71, 75, 71);
}

.Package img {
    width: 100%;
    height: 220px;
}

.PackageDetails {
    padding: 5px 10px;
}

.PackageDetails p,h5 {
    margin: 0;
    padding: 3px;
}

.PackageDetails button{
    padding: 8px 25px;
    margin: 5px 0;
    font: inherit;
    border: none;
    cursor: pointer;
    background: #4368DC;
    font-weight: 400;
    border-radius: 3px;
    color: white;
    outline: none;
}
.PackageDetails button:hover{
     background: #507CFF;
}