.ContactInformation{
    width: 90%;
    padding-left: 20px;
    padding-top: 10px;
}
.ContactInformation h3 {
    margin-left: 10px;
    color: #0E5682;
}
.ContactInformation input{
    width: 76%;
    height: 40px;
    margin: 10px;
    padding-left: 10px;
    font: inherit;
    font-size: 15px;
    border: 1px solid #eee;
    border-radius: 3px;
}

.OtherInformation{
    width: 80%;
    height: 100px;
}

.OtherInformation1{
    width: 50%;
    height: 100%;
    float: left;
}
.OtherInformation1 select{
    width: 130px;
    padding: 3px 10px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.OtherInformation1 select:hover{
    border: 1px solid #0E5682;
}
.OtherInformation label{
    font-weight: bold;
    display: inline;
    margin: 10px;
    color: #0E5682;
}

.OtherInformation2{
    width: 50%;
    height: 100%;
    float: right;
}
.OtherInformation2 input{
    width: 90%;
    height: 40px;
}