.Destination{
    height: 280px;
    width: 23%;
    box-sizing: border-box;
    cursor: pointer;
    margin: 9px 6px;
    color:rgb(41, 48, 59);
    border: 1px solid #eee;
    border-radius: 4px;
    background: white;
    color: rgb(71, 75, 71);
}
.Destination:hover{
     box-shadow: 2px 2px 18px rgb(214, 212, 212);
}
.Destination img{
    width: 100%;
    height: 180px;
}
.DestinationDetails{
    padding: 5px 10px;
}
.DestinationDetails p, h5{
    margin: 0;
    padding: 3px;
}
.Destination span{
    margin-right: 5px;
    color: rgb(151, 67, 37);
}