.FlightSearch {
    width: 100%;
    height: 100%;
}

.FlightForm {
    margin-left: 3%;
}

.FlightOutlet {
    width: 100%;
    height: 40px;
    padding: 10px 5px 0px 5px;
}

.FlightOutlet select {
    margin: 5px;
    width: 133px;
    height: 25px;
    border: none;
    font-size: 15px;
    color: rgb(151, 145, 147);
    border-radius: 10px;
    border: 1px solid #eee;
    outline: none;
}

.FlightOutlet select:hover {
    cursor: pointer;
    background: rgb(243, 243, 243);
}

.FlightOutlet button {
    font: inherit;
    color: rgb(151, 145, 147);
    font-size: 15px;
    background: white;
    padding: 1.5px 18px;
    border: 1px solid #eee;
    border-radius: 10px;
    cursor: pointer;
    outline: none;

}

.FlightOutlet button:hover {
    background: rgb(243, 243, 243);
}

.DropDown{
    font-size: 14px;
    margin-left: 20px;
    color: rgb(36, 218, 224);
}
.PassengerCount {
    width: 360px;
    height: 160px;
    background: white;
    margin-left: 2%;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 5px 10px 18px rgb(243, 239, 239);
    color: rgb(71, 75, 71);
}

.PassengerCount2 {
    display: none;
}

.Customizing {
    width: 100%;
    height: 40px;
    margin: 10px 0;
}

.Subject {
    width: 40%;
    height: 100%;
    float: left;
    margin-left: 10px;
}

.Subject h5 {
    margin-left: 10px;
    padding: 0;
    font-size: 15px;
}

.Subject p {
    margin: 0;
    padding: 0px;
    font-size: 13px;
    margin-left: 10px;
    color: rgb(91, 95, 95);
}

.Value {
    width: 30%;
    height: 100%;
    float: right;
    display: block;
    margin-right: 20px;
}

.AddButton {
    float: Right;
    border: none;
    background: white;
    font-size: 20px;
    color: rgb(36, 218, 224);
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(36, 218, 224);
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.MinusButton {
    float: left;
    border: none;
    background: white;
    font-size: 20px;
    color: rgb(36, 218, 224);
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(36, 218, 224);
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.AddButton:hover,
.MinusButton:hover {
    background: rgb(204, 242, 243);
}


.Result {
    margin-left: 14px;
    font-size: 19px;
    font-weight: 500;
    color: rgb(91, 95, 95);
}
.Control {
    width: 93%;
    height: 30px;
    margin-left: 3.5%;
    margin-top: 15px;
}

.ClearButton {
    float: left;
    border: none;
    color: orangered;
    cursor: pointer;
    background: white;
    font-weight: bold;
    outline: none;
}

.SaveButton {
    float: right;
    border: none;
    color: rgb(36, 218, 224);
    cursor: pointer;
    background: white;
    font-weight: bold;
    outline: none;
}

.ClearButton:hover,
.SaveButton:hover {
    text-decoration: underline;
}

.FlightDetails {
    width: 97%;
    height: 100px;
    margin-left: 1.3%;
}

.Input1 {
    width: 92%;
    height: 45px;
    font: inherit;
    padding-left: 10px;
    margin: 10px 5px;
    font-size: 15px;
    border: 1px solid #eee;
    border-radius: 2px;
}

.SearchButtonContainer {
    width: 39.5%;
    height: 50px;
    margin-top: 30px;
    float: right;
}

.SearchButtonContainer a {
    padding: 12px 50px;
    background: rgb(229, 90, 26);
    color: white;
    margin: 0 5px;
    font-weight: bold;
    border-radius: 3px;
    text-decoration: none;
}
.SearchButtonContainer a:hover {
    background: rgb(184, 64, 8);
}

