.HotelSearch {
    width: 100%;
    height: 120px;
    text-align: center;
    margin-top: 20px;
    background: #F6F5F5;
    border-radius: 2px;
}

.SearchForm {
    padding-top: 32px;
}

.Input1 {
    width: 320px;
    height: 50px;
    padding-left: 15px;
    border: 2px solid #E8F0FE;
    border-radius: 3px;
    font: inherit;
    outline: none;
    background: white;
}

.Guest {
    width: 220px;
    height: 55.4px;
    border: 2px solid #E8F0FE;
    font: inherit;
    outline: none;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.Date {
    width: 200px;
    height: 52px;
    border: 2px solid #E8F0FE;
    font: inherit;
    outline: none;
}

.SubmitButton {
    padding: 15.5px 35px;
    background: #4368DC;
    border: none;
    color: white;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

.SubmitButton:hover {
    background: #507CFF;
}

.GuestController {
    width: 400px;
    height: 200px;
    background: white;
    margin-left: 37.5%;
    border: 1px solid #eee;
    border-radius: 2px;
    padding-top: 20px;
    position: absolute;
    color: rgb(71, 75, 71);
    box-shadow: 5px 10px 18px rgb(243, 239, 239);
    text-align: left;
}

.GuestController2 {
    display: none;
}

.Customizing {
    width: 100%;
    height: 40px;
    margin: 10px 0;
}

.Subject {
    width: 40%;
    height: 100%;
    float: left;
    margin-left: 10px;
}

.Subject h5 {
    margin-left: 10px;
    padding: 0;
    font-size: 15px;
    color: rgb(94, 90, 90);
}

.Subject p {
    margin: 0;
    padding: 0px;
    font-size: 13px;
    margin-left: 10px;
}

.Value {
    width: 25%;
    height: 100%;
    float: right;
    display: block;
    margin-right: 20px;
}

.AddButton {
    float: Right;
    border: none;
    background: white;
    font-size: 20px;
    color: rgb(36, 218, 224);
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(36, 218, 224);
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.MinusButton {
    float: left;
    border: none;
    background: white;
    font-size: 20px;
    color: rgb(36, 218, 224);
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(36, 218, 224);
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.AddButton:hover,
.MinusButton:hover {
    background: rgb(204, 242, 243);
}

.Result {
    margin-left: 13px;
    font-weight: bold;
    font-size: 19px;
    color: rgb(91, 95, 95);
    font-weight: 500;
}

.Control {
    width: 93%;
    height: 30px;
    margin-left: 3.5%;
}

.ClearButton {
    float: left;
    border: none;
    color: orangered;
    cursor: pointer;
    background: white;
    font-weight: bold;
    outline: none;
}

.SaveButton {
    float: right;
    border: none;
    color: rgb(36, 218, 224);
    cursor: pointer;
    background: white;
    font-weight: bold;
    outline: none;
}

.ClearButton:hover,
.SaveButton:hover {
    text-decoration: underline;
}