.PassengerDetails{
    width: 100%;
    height: 900px;
}
.Passenger{
    width: 67%;
    height: 100%;
    float: left;
}
.Other{
    width: 30%;
    height: 100%;
    float: right;
    border: 1px solid #eee;
}

.ContactInformation{
    width: 100%;
    height: 300px;
    background: #F6F5F5;
    border-radius: 5px;
}

