.NavigationItems{
   margin: 0;
   padding: 0;
   list-style: none;
   flex-flow: column;
   display: flex;
   align-items: center;
   height: 100%;
   margin-right: 180px;
   font-size: 15px;
}

.NavigationItem{
   box-sizing: border-box;
   display: block;
   height: 100%;
   margin-top: 10px;
   margin-left: 5px;
}

.SignLink{
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   display: block;
   border:none;
   padding: 15px 18px;
   color: black;
   border-radius: 3px;
   font-size: 17px;
}

.SignLink:hover,
.SignLink:active{
   color: #61DAFB;
}
.ListLink{
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   display: block;
   padding: 15px 15px;
   color: black;
   border-radius: 3px;
   font-size: 17px;
}
.ListLink:hover{
  color: #61DAFB;
}
@media(min-width: 500px){
   .NavigationItems{
      flex-flow: row;
   } 

}
@media(max-width: 500px){
   .NavigationItem{
      box-sizing: border-box;
      display: block;
      height: 100%;
      margin-top: 10px;
      margin-left: 5px;
      width: 100%;
   }
}