.Main{
   width: 80%;
   height: 90%;
   margin-left: 10%;
   padding-top: 50px;
 }
 .SignupForm{
     display: block;
   
 }
 .Main h4{
     color: green;
     text-align: center;
     margin-right: 40px;
 }
 .SignupForm input{
    width: 97%;
    display: block;
    height: 45px;
    margin: 15px 0px;
    font: inherit;
    font-size: 14px;
    padding-left: 10px;
    border: 1px solid #eee;
    border-radius: 2px;
 }
 
 
 .SubmitButton{
    width: 100%;
    height: 45px;
    cursor: pointer;
    background: rgb(238,76,38);
    border: none;
    border-radius: 3px;
    color:white;
    font-weight: bold; 
    outline: none;
 }
 .SubmitButton:hover{
    background:rgb(205,55,16);
 }
 
 .Main a{
    margin-top: 0px;
    color: green;
    font-size: 13px;
 }
 
 .Main a:hover{
    color: rgb(238,76,38);
 }
 .Main p{
    text-align: center;
    margin-top: 15px;
    margin-right: 25px;
    font-style: italic;
    color: gray;
    font-size: 14px;
 }
 .OthersSignUp{
    width: 100%;
    height: 100px;
    background: lawngreen;
 }