.Filter{
    width: 100%;
    height: 100%;
}

.Filter button{
    padding: 10px 30px;
    margin: 5px;
    border-radius: 17px;
    cursor: pointer;
    border: 1px solid #ccc;
    background: white;
    font-weight: bold;
    color: rgb(83, 83, 81);
    outline: none;
}
.Filter button:hover{
    background: rgb(236, 236, 240);
}